In [14]:
# naive bayes algorithm
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

iris=pd.read_csv(r"C:\Users\SASIKUMAR\Desktop\ml projects\iris.csv")
iris

     sepal_length  sepal_width  petal_length  petal_width    Species
0             5.1          3.5           1.4          0.2     Setosa
1             4.9          3.0           1.4          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          0.2     Setosa
4             5.0          3.6           1.4          0.2     Setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[150 rows x 5 columns]

In [15]:
iris.columns=['sepal_length','sepal_width','petal_length','petal_width','species']

col_names=list(iris.columns)
col_names

['sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'species']

In [16]:
# feature scaling - 1

X=col_names[0:4]  # size - (150,4)

y=col_names[4]    # size - (150,)

print(X)
print(y) 

#print(len(X))

['sepal_length', 'sepal_width', 'petal_length', 'petal_width']
species

In [17]:
# feature scaling -2 

from sklearn.model_selection import train_test_split # to control overfitting
train,test=train_test_split(iris,test_size=0.20,random_state=1)

print('training input samples:',len(train))
print('testing input samples:',len(test))
#print(test)

training input samples: 120
testing input samples: 30

In [18]:
############# Naive Bayes ############

# Guassian Naive Bayes

from sklearn.naive_bayes import GaussianNB # importation

Gmodel=GaussianNB() # invocation

In [19]:
Gmodel.fit(train[X],train[y])

train_Gpred=Gmodel.predict(train[X]) # train[x] - 120 training input samples

test_Gpred=Gmodel.predict(test[X]) # test[x] - 30 testing input samples

In [20]:
train_acc_gau = np.mean(train_Gpred==train[y])# 120 samples label(train)

test_acc_gau = np.mean(test_Gpred==test[y])# 30 samples label(test)

print('gaussian nb - training accuracy:',train_acc_gau*100,'%')
print('gaussian nb - testing accuracy:',test_acc_gau*100,'%')

gaussian nb - training accuracy: 95.0 %
gaussian nb - testing accuracy: 96.66666666666667 %

In [21]:
#Multinomial Naive Bayes

from sklearn.naive_bayes import MultinomialNB
Mmodel=MultinomialNB()
Mmodel.fit(train[X],train[y])

train_Mpred=Mmodel.predict(train[X])
test_Mpred=Mmodel.predict(test[X])

In [22]:
train_acc_multi=np.mean(train_Mpred==train[y])
test_acc_multi=np.mean(test_Mpred==test[y])
print('multinomial nb - training accuracy:',train_acc_multi*100,'%')
print('multinomial nb - testing accuracy:',test_acc_multi*100,'%')

multinomial nb - training accuracy: 71.66666666666667 %
multinomial nb - testing accuracy: 56.666666666666664 %