# Random Forest Classifier

In [38]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [39]:
path=r"C:\Users\SASIKUMAR\Desktop\ml projects\iris.csv"
print(path)

C:\Users\SASIKUMAR\Desktop\ml projects\iris.csv

In [40]:
header_names=['sepal_length','sepal_width','petal_length','petal_width','class']

In [41]:
dataset=pd.read_csv(path,names=header_names)

In [42]:
dataset.head() # prints only top 5 records

   sepal_length  sepal_width  petal_length  petal_width   class
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

In [43]:
X=dataset.iloc[:,0:4].values
print(X.shape)
print(X[:5])

(150, 4)
[[5.1 3.5 1.4 0.2]
 [4.9 3.  1.4 0.2]
 [4.7 3.2 1.3 0.2]
 [4.6 3.1 1.5 0.2]
 [5.  3.6 1.4 0.2]]

In [44]:
y=dataset.iloc[:,4].values
print(y.shape)
print(y[:5])

(150,)
['Setosa' 'Setosa' 'Setosa' 'Setosa' 'Setosa']

In [45]:
from sklearn.model_selection import train_test_split # to avoid overfitting

In [54]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.25)

In [55]:
from sklearn.ensemble import RandomForestClassifier

In [62]:
clfr=RandomForestClassifier(n_estimators=10,criterion='gini')
clfr.fit(X_train,y_train)

RandomForestClassifier(n_estimators=10)

In [63]:
from sklearn.metrics import classification_report,accuracy_score,confusion_matrix

In [64]:
ypre=clfr.predict(X_test)

output=confusion_matrix(y_test,ypre)

print('Confusion matrix output:\n ')
output

Confusion matrix output:

array([[14,  0,  0],
       [ 0,  8,  1],
       [ 0,  0, 15]], dtype=int64)

In [65]:
X_test.shape

(38, 4)

In [66]:
output1=classification_report(y_test,ypre)
print('Classification report')
print(output1)

Classification report
              precision    recall  f1-score   support

      Setosa       1.00      1.00      1.00        14
  Versicolor       1.00      0.89      0.94         9
   Virginica       0.94      1.00      0.97        15

    accuracy                           0.97        38
   macro avg       0.98      0.96      0.97        38
weighted avg       0.98      0.97      0.97        38

In [67]:
output2=accuracy_score(y_test,ypre)*100
print(output2)

97.36842105263158